beautifulsoup4==4.8.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Django==2.0.6
django-widget-tweaks==1.4.5
Flask==1.1.1
idna==2.8
instaloader==4.2.10
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.19
Pillow==5.2.0
protobuf==3.11.3
pyTelegramBotAPI==3.6.7
pytz==2018.4
requests==2.7.0
selenium==3.141.0
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.7
Werkzeug==1.0.0
py-cpuinfo==7.0.0
